.image-info {
    float: left;
    width: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.card-info {
    margin-left: 55px;
    margin-top: 8px;
}

.card-label {
    margin-bottom: 5px;
    cursor: pointer;
}

.main-row {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0 5px;
}

.main-card {
    min-height: 90px;
    margin: 10px 20px;
    padding: 10px 20px;
    float: left;
}

.main-card:hover {
    background-color: rgba(204, 204, 204, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.main-card.selected-card {
    background-color: #c8c8c8;
    border: 2px solid #32b0ff;
    border-radius: 5px;
    box-sizing: border-box;
}

.label-description {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1px;
    cursor: pointer;
}

.mlr-5 {
    margin: 15px 0;
}

.fa-remove {
    font-size: 24px;
    color: #337ab7;
    margin-left: -43px;
    margin-top: 6px;
    cursor: pointer;
}

.mt-15 {
    margin-top: 15px;
}

.mt5 {
    margin-top: 5px;
    padding-top: 5px;
}
