/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.plr0 {
    padding-left: 0;
    padding-right: 0;
}
